body {
    font-family: 'Instrument Serif', serif;
       font-size: 18px;
            margin: 0;
            padding: 0;
            box-sizing: border-box;
}

.header {
    position: relative;
}

#eventImage {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    display: block;
}

.animated-border {
    position: absolute;
    bottom: -50px;
    left: 0;
    width: 100%;
    font-size: 24px;
    white-space: nowrap;
    overflow: hidden;
    border: 1px solid #ffffff;
    background: #BC2303;
}

.animated-text {
    display: inline-block;
    animation: moveText 10s linear infinite;
}

@keyframes moveText {
    10%, 60% {
        transform: translateX(100%);
    }
    60% {
        transform: translateX(-100%);
    }
}

 .ticket-section {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            padding: 15px; 
            text-align: right;
            background: white;
            border-radius: 5px;
        }

        .ticket {
            border: 1px solid #ddd;
            padding: 40px 20px;
            margin: 10px;
            height: 300px;
            width: calc(45% - 20px); /* Two sections in a row with 20px margin in between */
            text-align: right;
            box-sizing: border-box;
            background-size: 400% 400%;
            animation: gradientAnimation 5s ease infinite;
            border-radius: 5px;
        }

        .platinum-ticket {
            background-image: url(Images/fifth-image.jpg);
            background-size: cover;
        }

        .comfort-ticket {
            background-image: url(Images/fourth-image.jpg);
            background-size: cover;
        }

        .vip-ticket {
            background-image: url(Images/third-image.jpg);
            background-size: cover;
        }

        .regular-ticket {
            background-image: url(Images/second-image.jpg);
            background-size: cover;
        }

        .get-tickets-btn {
            background-color:#BC2303;
            color: #F5DB51;
            padding: 10px 50px 10px 50px;
            border-radius: 6px;
            text-align: center;
            display: inline-block;
            font-size: 16px;
            margin-top: 29px;
            margin-bottom: 10px;
            margin-left: 10px;
            margin-right: 10px;
            border: none;
             box-shadow: 0 0 10px #F5DB51;
            }
        
        .get-tickets-btn:hover, .platinum-ticket-link:hover, .comfort-ticket-link:hover{
            background: #F5DB51;
            color: #BC2303;
            cursor: pointer;
        }
        .platinum-ticket-link, .comfort-ticket-link{
            text-decoration: none;
            color: #F5DB51;
        }


        @keyframes gradientAnimation {
            0% {
                background-position: 0% 50%;
            }
            50% {
                background-position: 100% 50%;
            }
            100% {
                background-position: 0% 50%;
            }
        }

            /* Media query for responsive layout */
            @media screen and (max-width: 768px) {
            .ticket {
                width: calc(100% - 20px); /* One section in a row on smaller screens */

            }
        
            .animated-text {
                font-size: 18px; 
            }
        }

         /* Media query for large screen layout */
         @media screen and (min-width: 768px) {
           
            #eventImage {
                width: 70%; 
            }
        }